doc/paper/*.log
doc/paper/*.aux
doc/doxygen/
doc/sphinx/
bin/
lib/
share/
include/
obj/
cpp/
.pre-build
*.o
vg
*.a
*~
*.swp
*.dot
*.fa.fai
test/build_graph
test/.*
test/*.lcp
test/*/*.lcp
test/**/*.index/
trash
src/*.gch
.vscode
# Temporary subcommand used for debugging something
debug_main.cpp
# Ignore a bunch of files people might dump in the root when testing
/*.vg
/*.gcsa
/*.xg
/*.html
/*.gam
/*.idx
/*.index
/*.vgpu
/*.png
/*.lcp
/*.json
/*.vcf
/*.vcf.gz
/*.vcf.gz.tbi
/*.pdf
/*.svg
/*.fa
/*.gfa
.vscode/*
