[submodule "pb2json"]
	path = pb2json
	url = https://github.com/shafreeck/pb2json.git
[submodule "vcflib"]
	path = vcflib
	url = https://github.com/ekg/vcflib.git
[submodule "fastahack"]
	path = fastahack
	url = https://github.com/ekg/fastahack.git
[submodule "gssw"]
	path = gssw
	url = https://github.com/ekg/gssw.git
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy.git
[submodule "bash-tap"]
	path = bash-tap
	url = https://github.com/illusori/bash-tap.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/ekg/sparsehash.git
[submodule "progress_bar"]
	path = progress_bar
	url = https://github.com/ekg/cpp_progress_bar.git
