doc/paper/*.log
doc/paper/*.aux
doc/doxygen/
doc/sphinx/
bin/
lib/
share/
include/
obj/
cpp/
.pre-build
*.o
vg
*.a
*~
*.dot
*.fa.fai
test/build_graph
test/.*
test/**/*.index/
trash
# Ignore a bunch of files people might dump in the root when testing
/*.vg
/*.gcsa
/*.xg
/*.html
/*.gam
/*.idx
/*.index
/*.vgpu
/*.png
/*.lcp
/*.json
/*.vcf
/*.vcf.gz
/*.vcf.gz.tbi
/*.pdf
/*.svg
/*.fa
/*.gfa

test/benedict2.vg
test/c.gcsa.lcp
test/e.gcsa.lcp
test/f.gcsa.lcp
test/g.idx.gcsa
test/g.idx.gcsa.lcp
test/g.idx.xg
test/ins_and_del.vg
test/ins_and_del.vg.xg
test/m.gcsa.lcp
test/r.gcsa.lcp
test/t.gcsa.lcp
test/t.idx.gcsa.lcp
test/tiny.gcsa.lcp
test/x.gcsa.lcp
test/x.sim
test/x.txt
test/z.vg
