[submodule "lru_cache"]
	path = deps/lru_cache
	url = https://github.com/ekg/lru_cache.git
[submodule "sha1"]
	path = deps/sha1
	url = https://github.com/vog/sha1.git
[submodule "deps/libVCFH"]
	path = deps/libVCFH
	url = https://github.com/edawson/libVCFH.git
[submodule "deps/pinchesAndCacti"]
	path = deps/pinchesAndCacti
	url = https://github.com/benedictpaten/pinchesAndCacti.git
[submodule "deps/sonLib"]
	path = deps/sonLib
	url = https://github.com/benedictpaten/sonLib.git
[submodule "deps/fermi-lite"]
	path = deps/fermi-lite
    url = https://github.com/vgteam/fermi-lite.git
[submodule "deps/sublinear-Li-Stephens"]
	path = deps/sublinear-Li-Stephens
	url = https://github.com/yoheirosen/sublinear-Li-Stephens.git
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "deps/sglib"]
	path = deps/sglib
	url = https://github.com/vgteam/sglib.git
	branch = master
[submodule "deps/ips4o"]
	path = deps/ips4o
	url = https://github.com/vgteam/ips4o.git
[submodule "src/simde"]
	path = src/simde
	url = https://github.com/nemequ/simde-no-tests
[submodule "doc/wiki"]
	path = doc/wiki
	url = https://github.com/vgteam/vg.wiki.git
[submodule "deps/htslib"]
	path = deps/htslib
	url = https://github.com/samtools/htslib.git
	branch = master
[submodule "deps/tabixpp"]
	path = deps/tabixpp
	url = https://github.com/ekg/tabixpp.git
	branch = master
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc.git
