doc/paper/*.log
doc/paper/*.aux
doc/doxygen/
bin/
lib/
share/
include/
obj/
cpp/
.pre-build
*.o
vg
*.a
*~
*.dot
*.fa.fai
test/build_graph
test/.*
test/**/*.index/
trash
# Ignore a bunch of files people might dump in the root when testing
/*.vg
/*.gcsa
/*.xg
/*.html
/*.gam
/*.idx
/*.index
/*.vgpu
/*.png
/*.lcp
/*.json
/*.vcf
/*.vcf.gz
/*.vcf.gz.tbi
/*.pdf
/*.svg
/*.fa
/*.gfa
