[submodule "vcflib"]
	path = deps/vcflib
	url = https://github.com/ekg/vcflib.git
[submodule "fastahack"]
	path = deps/fastahack
	url = https://github.com/ekg/fastahack.git
[submodule "gssw"]
	path = deps/gssw
	url = https://github.com/ekg/gssw.git
[submodule "snappy"]
	path = deps/snappy
	url = https://github.com/google/snappy.git
[submodule "bash-tap"]
	path = deps/bash-tap
	url = https://github.com/illusori/bash-tap.git
[submodule "progress_bar"]
	path = deps/progress_bar
	url = https://github.com/ekg/cpp_progress_bar.git
[submodule "lru_cache"]
	path = deps/lru_cache
	url = https://github.com/ekg/lru_cache.git
[submodule "rocksdb"]
	path = deps/rocksdb
	url = https://github.com/ekg/rocksdb.git
[submodule "htslib"]
	path = deps/htslib
	url = https://github.com/samtools/htslib.git
[submodule "sha1"]
	path = deps/sha1
	url = https://github.com/vog/sha1.git
[submodule "protobuf"]
	path = deps/protobuf
	url = https://github.com/google/protobuf.git
[submodule "gcsa2"]
	path = deps/gcsa2
	url = https://github.com/jltsiren/gcsa2.git
[submodule "xg"]
	path = deps/xg
	url = https://github.com/ekg/xg.git
[submodule "sdsl-lite"]
	path = deps/sdsl-lite
    url = https://github.com/simongog/sdsl-lite
[submodule "libVCFH"]
    path = deps/libvcfh/
    url = https://github.com/edawson/libvcfh
[submodule "deps/libVCFH"]
	path = deps/libVCFH
	url = https://github.com/edawson/libVCFH
[submodule "deps/sparsehash"]
	path = deps/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
